body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
        background-color: khaki;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

body > main {
    background-color: black;
    display: inline-block;
    width: 900px;
    margin-top: 100px;
    margin-left: calc(50% -450px);
    position: relative;
    
}

main > div {
    width: 200px;
    display: inline-block;
    position: relative;
    background-color: darkkhaki;
}

.circle1 {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: white;
    border: 3px solid #5dbebe;
    position: absolute;
    top: -12px;
    left: -12px;
    text-align: center;
}

.circle2 {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: white;
    border: 3px solid #6182c4;
    position: absolute;
    top: -12px;
    left: -12px;
    text-align: center;
}

.circle3 {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: white;
    border: 3px solid #da9278;
    position: absolute;
    top: -12px;
    left: -12px;
    text-align: center;
}

.circle4 {
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: white;
    border: 3px solid #6e6e6e;
    position: absolute;
    top: -12px;
    left: -12px;
    text-align: center;
}

div > img {
    width: 200px;
    height: 200px;
    padding: 40px;
    filter: invert(1);
}

.users {
    background-color: #a24141;
}

.university {
background-color: #9e7d3b;
}

.apple {
    background-color: #256d87;
}

.random {
    background-color: #919191;
}

div > h1 {
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: coral;
    padding: 5px;
    text-transform: uppercase;
}
div > p {
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    color: grey;
}
