body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

body > main {
    width: 1200px;
    margin-top: 100px;
    margin-left: calc(50% - 600px);
}

main > div {
    width: 250px;
    display: inline-block;
}

div > img {
    width: 250px;
    height: 250px;
    padding: 30px;
    padding-bottom: 5px;
    object-fit: contain;
    object-position: center;
}
div > h1 {
    display: inline-block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
}
div > p {
    padding: 20px;
    padding-top: 5px;
    text-align: center;
    color: grey;
}
